#pl1 {
    background: #90CAF9;
    padding: 8px;
}

#pl2 {
    padding: 10px;
}

.fix {
    position: fixed;
    bottom: 0px;
    left: 65%;
}

.fix-s1 {
    position: fixed;
    bottom: 40px;
    left: 75%;
}

.fix3 {
    position: absolute;
    top: 100px;
    left: 55%;
    border: 4px dashed #90CAF9;
    padding: 10px;
}

body {
    margin: 0px;
    padding: 0px;
}

#admin {
    right: 20px;
    position: absolute;
}



p.bubble {
    position: relative;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin: 60px auto;
    background-color: #fff;
    border: 1px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 2px #888;
}

p.thought {
    width: 130px;
    line-height: 100px;
    -webkit-border-radius: 108px;
    -moz-border-radius: 108px;
    border-radius: 108px;
}

p.bubble:before,
p.bubble:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}

p.speech:before {
    left: 30px;
    top: 100px;
    border: 1px solid;
    border-color: #666 transparent transparent #666;
}

p.speech:after {
    left: 38px;
    top: 100px;
    border: 1px solid;
    border-color: #fff transparent transparent #fff;
}

p.thought:before,
p.thought:after {
    left: 10px;
    top: 70px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #666;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
}

p.thought:after {
    width: 20px;
    height: 20px;
    left: 5px;
    top: 100px;
    
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

